/* .height{
     width: 150px;
    height: 200px;
}

.g1{
    background-color:rgb(17, 234, 234);
    background-color: yellow;
}
.g2{
    background-color: pink;
}
.g3{
    background-color:black;
}
.g4{
    background-color:gray;
}

.af{
    color: rgba(213, 35, 35, 0.742);
    background-color: aquamarine;
} */