<p>hello am second page</p>
<!-- <p> {{name}} </p> -->
<!-- {{msg}} -->

<!-- <input type="text" ng-model="names"> -->
<!-- <button ng-click="add()">Click</button> -->

<!-- {{names}} -->


<div>
   student name: <input type="text" ng-model="name"><br> <br>
   m1: <input type="number" ng-model="m1" ><br> <br>
   m2: <input type="number" ng-model="m2"><br> <br>
   m3: <input type="number" ng-model="m3"><br> <br>
   m4: <input type="number" ng-model="m4"><br> <br>
   m5: <input type="number" ng-model="m5">
  
</div>
<br>

<div>
    <button ng-click="add()" >add</button>
</div>


<div>

    <table class="border">
 <thead>
     <tr>
        <td>name</td>
        <td>m1</td>
        <td>m2</td>
        <td>m3</td>
        <td>m4</td>
        <td>m5</td>
    </tr>
 </thead>
 <tbody>
    <tr>
        <td>{{name}}</td>
        <td>{{m1}}</td>
        <td>{{m2}}</td>
        <td>{{m3}}</td>
        <td>{{m4}}</td>
        <td>{{m5}}</td>
        
    </tr>
 </tbody>

    </table>
    <div>
   
    </div>



    
</div>