.header{
    height:auto ;
    background-color:skyblue;
}

.main{
    margin-left:60px;
}
.bold{
    font-weight: 500;
    font-size: 30px;
}
.body{
    height: auto;
    background-color:gray;

}

.box{
    margin: 15px;
    height: 35px;
}
.footer{
    height: auto;
    background-color:green;

}

.bottom{
    height:auto;
    margin-left: 50px;
    margin-right: 50px;

}
