<button><a   href="#!login">back</a> </button>
<!-- <a   href="#!students">students</a> -->

    <a   href="#!viewstudent">viewstudent</a>


  <br><br>
<input type="text"   ng-model="text" placeholder="name">  <br><br>
<input type="number" ng-model="m1" placeholder="m1"> <br><br>
<input type="number" ng-model="m2" placeholder="m2"> <br><br>
<input type="number" ng-model="m3" placeholder="m3"> <br><br>
<input type="number" ng-model="m4" placeholder="m4"> <br><br>
<input type="number" ng-model="m5" placeholder="m5">

<br><br>
<button ng-click="add('jj')">Add</button>


<ul>
  <li ng-repeat="x in data"> {{x.name}} </li>
</ul>

<input type="text" ng-model="value">

<!-- {{value}} -->