<div class="container p-3" ng-controller="ctrl" >
    
    <div class="row p-3">
      <div class="col border  p-3 text-center">
        <form novalidate name="myForm" ng-init="switch=false" ng-disabled="mara" >
   
          <div ng-click="disabled()">
            <input type="text" ng-model="name"  placeholder="username" name="nameval"   ng-disabled="mara" required>
          </div><br><span ng-show="myForm.nameval.$touched &&  myForm.nameval.$invalid"> Required!</span>
          
          
          <div ng-click="disabled()">
          <input type="email" ng-model="email"  placeholder="email"  name="input" ng-disabled="mara" required>
          </div><br>
          <span ng-show="myForm.input.$touched &&  myForm.nameval.$invalid" > Required!</span>
            <span ng-show="myForm.input.$error.email">Not valid email!</span>

          <div ng-click="disabled()">
            <input type="password" ng-model="password" placeholder="password" name="pwd" ng-minlength="2" ng-maxlength="3" ng-disabled="mara" required>
          </div> <br>





          <div>
            <span ng-show="myForm.pwd.$error.minlength" >
             <ul class='text-danger'>
            <p>too short!</p>
             
             </ul>
            </span>
          <span ng-show="myForm.pwd.$error.maxlength" class="text-danger">too high!</span>
          </div>
         
          <div ng-click="disabled()">
            <button ng-click="create()"  class="btn btn-success rounded-4" ng-disabled="myForm.nameval.$dirty && myForm.nameval.$invalid ||  
            myForm.input.$dirty && myForm.input.$invalid || myForm.pwd.$dirty && myForm.pwd.$invalid || mara " >create</button>


            <button class="btn btn-danger"  ng-disabled="myForm.nameval.$dirty && myForm.nameval.$invalid ||  
            myForm.input.$dirty && myForm.input.$invalid || myForm.pwd.$dirty && myForm.pwd.$invalid || mara "> <a   href="#!login" class="text-light">login</a></button>
          
          
          </div>
          
           </form>
      
      </div>