.color {
    /* border: 1px solid red; */
}
.bg{
    /* border: 1px solid black ; */
    border-style: inset;

    height:50px;
    width: 50px;
}
body{
    
}

.blue{
    background-color: rgb(3, 3, 247);
    /* border: 2px solid rgb(169, 189, 244) ; */
}
.skyblue{
    background-color:rgb(6, 179, 247);
    /* border: 2px solid skyblue; */
}
.orange{
    background-color:orange;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: rgb(237, 25, 201);
}
.lightgreen{
    background-color: lightgreen;
}